@import "tailwindcss";

@theme {
  --color-main: #227447;
  --color-secondary: #252525;
  --color-accent: #fbbf24;
  --color-accent1: #C0392B;
  --color-accent2: #F39C12;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  [x-cloak] {
    display: none !important;
  }
}